body {
  background-color: white;
}
.intro {
  h2 {
    font-size: 50px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
  }
}
.content {
  display: flex;
  align-items: center;
  .phone {
    img {
      width: 150px;
    }

  }
  .smallcontent{
    ul {
        list-style: none;
  
        li {
          margin: 30px 0px;
        }
      }
  }
}
